@font-face {
    font-family: 'Satoshi';
    src: url('/satoshi/Satoshi-Regular.woff2') format('woff2'),
         url('/satoshi/Satoshi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi';
    src: url('/satoshi/Satoshi-Bold.woff2') format('woff2'),
         url('/satoshi/Satoshi-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  body {
    font-family: 'Satoshi', sans-serif;
  }